---
http_interactions:
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v3/profile/AAPL?apikey=<apikey>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Api-Key: "<X-Api-Key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a09-8sEFrEhv8/moj8p4hDqdZEha484"
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "symbol": "AAPL",
            "price": 237.33,
            "beta": 1.24,
            "volAvg": 48873433,
            "mktCap": 3587432814000,
            "lastDiv": 0.99,
            "range": "164.08-237.81",
            "changes": 2.4,
            "companyName": "Apple Inc.",
            "currency": "USD",
            "cik": "0000320193",
            "isin": "US0378331005",
            "cusip": "037833100",
            "exchange": "NASDAQ Global Select",
            "exchangeShortName": "NASDAQ",
            "industry": "Consumer Electronics",
            "website": "https://www.apple.com",
            "description": "Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, and HomePod. It also provides AppleCare support and cloud services; and operates various platforms, including the App Store that allow customers to disc[...]
