---
http_interactions:
- request:
    method: get
    uri: https://apitest.authorize.net/rest/v1/webhooks/f8ea19aa-1728-4601-bfe5-8f580456ce89
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <AUTHORIZE_AUTH_HEADER>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Opnet-Transaction-Trace:
      - b620d06f-a8fd-4ac3-97d2-3b2e21bf57ac-4576-342946
      X-Cnection:
      - close
    body:
      encoding: UTF-8
      string: "{\r\n  \"_links\": {\r\n    \"self\": {\r\n      \"href\": \"/rest/v1/webhooks/f8ea19aa-1728-4601-bfe5-8f580456ce89\"\r\n
        \   }\r\n  },\r\n  \"webhookId\": \"f8ea19aa-1728-4601-bfe5-8f580456ce89\",\r\n
        \ \"name\": \"Prepro Bromley FilmApp\",\r\n  \"status\": \"inactive\",\r\n
        \ \"url\": \"https://prepro1.apply4.com/webhooks/authorize_net/accept\",\r\n
        \ \"eventTypes\": [\r\n    \"net.authorize.payment.authcapture.created\"\r\n
        \ ]\r\n}"
  recorded_at: Thu, 28 Jul 2022 16:07:12 GMT
recorded_with: VCR 6.1.0
