---
http_interactions:
- request:
    method: get
    uri: https://apitest.authorize.net/rest/v1/webhooks/f8ea19aa-1728-4601-bfe5-8f580456ce89
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <AUTHORIZE_AUTH_HEADER>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Opnet-Transaction-Trace:
      - 752e83bd-fb9d-43de-9666-a0cba6aea456-12436-20467
      X-Cnection:
      - close
    body:
      encoding: UTF-8
      string: "{\r\n  \"_links\": {\r\n    \"self\": {\r\n      \"href\": \"/rest/v1/webhooks/f8ea19aa-1728-4601-bfe5-8f580456ce89\"\r\n
        \   }\r\n  },\r\n  \"webhookId\": \"f8ea19aa-1728-4601-bfe5-8f580456ce89\",\r\n
        \ \"name\": \"Prepro Bromley FilmApp\",\r\n  \"status\": \"inactive\",\r\n
        \ \"url\": \"https://ultrahook.com/webhooks/authorize_net/accept\",\r\n
        \ \"eventTypes\": [\r\n    \"net.authorize.payment.authcapture.created\"\r\n
        \ ]\r\n}"
  recorded_at: Sat, 30 Jul 2022 19:10:43 GMT
recorded_with: VCR 6.1.0
