---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/RaulSeSo/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bf82939677d853d23293e98350791df03525e26c738cd9d579f1881800dec7ea"
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '46'
      X-Ratelimit-Reset:
      - '1697832768'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '14'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":208290689,"node_id":"MDEwOlJlcG9zaXRvcnkyMDgyOTA2ODk=","name":"Rails-Live-Counter","full_name":"RaulSeSo/Rails-Live-Counter","private":false,"owner":{"login":"RaulSeSo","id":53611902,"node_id":"MDQ6VXNlcjUzNjExOTAy","avatar_url":"https://avatars.githubusercontent.com/u/53611902?v=4","gravatar_id":"","url":"https://api.github.com/users/RaulSeSo","html_url":"https://github.com/RaulSeSo","followers_url":"https://api.github.com/users/RaulSeSo/followers","following_url":"https://api.github.com/users/RaulSeSo/following{/other_user}","gists_url":"https://api.github.com/users/RaulSeSo/gists{/gist_id}","starred_url":"https://api.github.com/users/RaulSeSo/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/RaulSeSo/subscriptions","organizations_url":"https://api.github.com/users/RaulSeSo/orgs","repos_url":"https://api.github.com/users/RaulSeSo/repos","events_url":"https://api.github.com/users/RaulSeSo/events{/privacy}","received_events_url":"https://api.github.com/users/RaulSeSo/received_events","type":"User","site_admin":false},"html_url":"https://github.com/RaulSeSo/Rails-Live-Counter","description":"A
        live rails counter made with ActionCable for a web app that will be developed
        in the future","fork":false,"url":"https://api.github.com/repos/RaulSeSo/Rails-Live-Counter","forks_url":"https://api.github.com/repos/RaulSeSo/Rails-Live-Counter/forks","keys_url":"https://api.github.com/repos/RaulSeSo/Rails-Live-Counter/keys{/key_id}","collaborators_url":"https://api.github.com/repos/RaulSeSo/Rails-Live-Counter/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/RaulSeSo/Rails-Live-Counter/teams","hooks_url":"https://api.github.com/repos/RaulSeSo/Rails-Live-Counter/hooks","issue_events_url":"https://api.github.com/repos/RaulSeSo/Rails-Live-Counter/issues/events{/number}","events_url":"https://api.github.com/repos/RaulSeSo/Rails-Live-Counter/events","assignees_url":"https://api.github.com/repos/RaulSeSo/Rails-Live-Counter/assignees{/user}","branches_url":"https://api.github.com/repos/RaulSeSo/Rails-Live-Counter/branches{/branch}","tags_url":"https://api.github.com/repos/RaulSeSo/Rails-Live-Counter/tags","blobs_url":"https://api.github.com/repos/RaulSeSo/Rails-Live-Counter/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/RaulSeSo/Rails-Live-Counter/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/RaulSeSo/Rails-Live-Counter/git/refs{/sha}","trees_url":"https://api.github.com/repos/RaulSeSo/Rails-Live-Counter/git/trees{/sha}","statuses_url":"https://api.github.com/repos/RaulSeSo/Rails-Live-Counter/statuses/{sha}","languages_url":"https://api.github.com/repos/RaulSeSo/Rails-Live-Counter/languages","stargazers_url":"https://api.github.com/repos/RaulSeSo/Rails-Live-Counter/stargazers","contributors_url":"https://api.github.com/repos/RaulSeSo/Rails-Live-Counter/contributors","subscribers_url":"https://api.github.com/repos/RaulSeSo/Rails-Live-Counter/subscribers","subscription_url":"https://api.github.com/repos/RaulSeSo/Rails-Live-Counter/subscription","commits_url":"https://api.github.com/repos/RaulSeSo/Rails-Live-Counter/commits{/sha}","git_commits_url":"https://api.github.com/repos/RaulSeSo/Rails-Live-Counter/git/commits{/sha}","comments_url":"https://api.github.com/repos/RaulSeSo/Rails-Live-Counter/comments{/number}","issue_comment_url":"https://api.github.com/repos/RaulSeSo/Rails-Live-Counter/issues/comments{/number}","contents_url":"https://api.github.com/repos/RaulSeSo/Rails-Live-Counter/contents/{+path}","compare_url":"https://api.github.com/repos/RaulSeSo/Rails-Live-Counter/compare/{base}...{head}","merges_url":"https://api.github.com/repos/RaulSeSo/Rails-Live-Counter/merges","archive_url":"https://api.github.com/repos/RaulSeSo/Rails-Live-Counter/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/RaulSeSo/Rails-Live-Counter/downloads","issues_url":"https://api.github.com/repos/RaulSeSo/Rails-Live-Counter/issues{/number}","pulls_url":"https://api.github.com/repos/RaulSeSo/Rails-Live-Counter/pulls{/number}","milestones_url":"https://api.github.com/repos/RaulSeSo/Rails-Live-Counter/milestones{/number}","notifications_url":"https://api.github.com/repos/RaulSeSo/Rails-Live-Counter/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/RaulSeSo/Rails-Live-Counter/labels{/name}","releases_url":"https://api.github.com/repos/RaulSeSo/Rails-Live-Counter/releases{/id}","deployments_url":"https://api.github.com/repos/RaulSeSo/Rails-Live-Counter/deployments","created_at":"2019-09-13T15:15:30Z","updated_at":"2019-11-13T20:31:07Z","pushed_at":"2019-09-04T10:56:08Z","git_url":"git://github.com/RaulSeSo/Rails-Live-Counter.git","ssh_url":"git@github.com:RaulSeSo/Rails-Live-Counter.git","clone_url":"https://github.com/RaulSeSo/Rails-Live-Counter.git","svn_url":"https://github.com/RaulSeSo/Rails-Live-Counter","homepage":"https://fmlivecounter.herokuapp.com","size":163,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":0,"open_issues":0,"watchers":0,"default_branch":"master"},{"id":513844059,"node_id":"R_kgDOHqCjWw","name":"railsdevs.com","full_name":"RaulSeSo/railsdevs.com","private":false,"owner":{"login":"RaulSeSo","id":53611902,"node_id":"MDQ6VXNlcjUzNjExOTAy","avatar_url":"https://avatars.githubusercontent.com/u/53611902?v=4","gravatar_id":"","url":"https://api.github.com/users/RaulSeSo","html_url":"https://github.com/RaulSeSo","followers_url":"https://api.github.com/users/RaulSeSo/followers","following_url":"https://api.github.com/users/RaulSeSo/follo[...]
