---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/Rukomoynikov/tabled
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7a84152e9201d5b0f035d47de61208ddbbefd770a04cf964d80678b7a2a6ccf2"
      Last-Modified:
      - Sat, 02 Jul 2022 19:49:13 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
      X-Ratelimit-Reset:
      - '1657124217'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '2'
    body:
      encoding: ASCII-8BIT
      string: '{"id":489925505,"node_id":"R_kgDOHTOrgQ","name":"tabled","full_name":"Rukomoynikov/tabled","private":false,"owner":{"login":"Rukomoynikov","id":294399,"node_id":"MDQ6VXNlcjI5NDM5OQ==","avatar_url":"https://avatars.githubusercontent.com/u/294399?v=4","gravatar_id":"","url":"https://api.github.com/users/Rukomoynikov","html_url":"https://github.com/Rukomoynikov","followers_url":"https://api.github.com/users/Rukomoynikov/followers","following_url":"https://api.github.com/users/Rukomoynikov/following{/other_user}","gists_url":"https://api.github.com/users/Rukomoynikov/gists{/gist_id}","starred_url":"https://api.github.com/users/Rukomoynikov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Rukomoynikov/subscriptions","organizations_url":"https://api.github.com/users/Rukomoynikov/orgs","repos_url":"https://api.github.com/users/Rukomoynikov/repos","events_url":"https://api.github.com/users/Rukomoynikov/events{/privacy}","received_events_url":"https://api.github.com/users/Rukomoynikov/received_events","type":"User","site_admin":false},"html_url":"https://github.com/Rukomoynikov/tabled","description":"Library
        can be used to render your data to the console. Though it''s quite simple
        and has no dependencies but powerful.","fork":false,"url":"https://api.github.com/repos/Rukomoynikov/tabled","forks_url":"https://api.github.com/repos/Rukomoynikov/tabled/forks","keys_url":"https://api.github.com/repos/Rukomoynikov/tabled/keys{/key_id}","collaborators_url":"https://api.github.com/repos/Rukomoynikov/tabled/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/Rukomoynikov/tabled/teams","hooks_url":"https://api.github.com/repos/Rukomoynikov/tabled/hooks","issue_events_url":"https://api.github.com/repos/Rukomoynikov/tabled/issues/events{/number}","events_url":"https://api.github.com/repos/Rukomoynikov/tabled/events","assignees_url":"https://api.github.com/repos/Rukomoynikov/tabled/assignees{/user}","branches_url":"https://api.github.com/repos/Rukomoynikov/tabled/branches{/branch}","tags_url":"https://api.github.com/repos/Rukomoynikov/tabled/tags","blobs_url":"https://api.github.com/repos/Rukomoynikov/tabled/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/Rukomoynikov/tabled/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/Rukomoynikov/tabled/git/refs{/sha}","trees_url":"https://api.github.com/repos/Rukomoynikov/tabled/git/trees{/sha}","statuses_url":"https://api.github.com/repos/Rukomoynikov/tabled/statuses/{sha}","languages_url":"https://api.github.com/repos/Rukomoynikov/tabled/languages","stargazers_url":"https://api.github.com/repos/Rukomoynikov/tabled/stargazers","contributors_url":"https://api.github.com/repos/Rukomoynikov/tabled/contributors","subscribers_url":"https://api.github.com/repos/Rukomoynikov/tabled/subscribers","subscription_url":"https://api.github.com/repos/Rukomoynikov/tabled/subscription","commits_url":"https://api.github.com/repos/Rukomoynikov/tabled/commits{/sha}","git_commits_url":"https://api.github.com/repos/Rukomoynikov/tabled/git/commits{/sha}","comments_url":"https://api.github.com/repos/Rukomoynikov/tabled/comments{/number}","issue_comment_url":"https://api.github.com/repos/Rukomoynikov/tabled/issues/comments{/number}","contents_url":"https://api.github.com/repos/Rukomoynikov/tabled/contents/{+path}","compare_url":"https://api.github.com/repos/Rukomoynikov/tabled/compare/{base}...{head}","merges_url":"https://api.github.com/repos/Rukomoynikov/tabled/merges","archive_url":"https://api.github.com/repos/Rukomoynikov/tabled/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/Rukomoynikov/tabled/downloads","issues_url":"https://api.github.com/repos/Rukomoynikov/tabled/issues{/number}","pulls_url":"https://api.github.com/repos/Rukomoynikov/tabled/pulls{/number}","milestones_url":"https://api.github.com/repos/Rukomoynikov/tabled/milestones{/number}","notifications_url":"https://api.github.com/repos/Rukomoynikov/tabled/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/Rukomoynikov/tabled/labels{/name}","releases_url":"https://api.github.com/repos/Rukomoynikov/tabled/releases{/id}","deployments_url":"https://api.github.com/repos/Rukomoynikov/tabled/deployments","created_at":"2022-05-08T11:34:53Z","updated_at":"2022-07-02T19:49:13Z","pushed_at":"2022-06-26T09:03:33Z","git_url":"git://github.com/Rukomoynikov/tabled.git","ssh_url":"git@github.com:Rukomoynikov/tabled.git","clone_url":"https://github.com/Rukomoynikov/tabled.git","svn_url":"https://github.com/Rukomoynikov/tabled","homepage":"","size":23,"stargazers_count":6,"watchers_count":6,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":3,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":0,"open_issues":3,"watchers":6,"default_branch":"main","temp_clone_token":null,"network_count":0,"subscribers_count":1}'
  recorded_at: Wed, 06 Jul 2022 15:23:34 GMT
recorded_with: VCR 6.1.0
