---
http_interactions:
- request:
    method: get
    uri: https://financialmodelingprep.com/api/v3/search?apikey=<apikey>&exchange&limit=10&query=AAPL
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Api-Key: "<X-Api-Key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"698-Ego8tiu0WSClberKUk/669NmD/8"
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "symbol": "AAPL",
            "name": "Apple Inc.",
            "currency": "USD",
            "stockExchange": "NASDAQ Global Select",
            "exchangeShortName": "NASDAQ"
          },
          {
            "symbol": "AAPL.L",
            "name": "LS 1x Apple Tracker ETC",
            "currency": "GBp",
            "stockExchange": "London Stock Exchange",
            "exchangeShortName": "LSE"
          },
          {
            "symbol": "AAPL.NE",
            "name": "Apple Inc.",
            "currency": "CAD",
            "stockExchange": "NEO",
            "exchangeShortName": "NEO"
          },
          {
            "symbol": "AAPL.MX",
      [...]
