---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/Rukomoynikov/tabled
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"657cd3167086b0732e1022c335b3d28b5a9a2f0c75bf038e9c101f6157402c68"
      Last-Modified:
      - Mon, 02 Oct 2023 23:33:03 GMT
      X-Oauth-Scopes:
      - gist, repo
      X-Accepted-Oauth-Scopes:
      - repo
      Github-Authentication-Token-Expiration:
      - 2023-11-19 20:19:19 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4980'
      X-Ratelimit-Reset:
      - '1697829987'
      X-Ratelimit-Used:
      - '20'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"id":489925505,"node_id":"R_kgDOHTOrgQ","name":"tabled","full_name":"Rukomoynikov/tabled","private":false,"owner":{"login":"Rukomoynikov","id":294399,"node_id":"MDQ6VXNlcjI5NDM5OQ==","avatar_url":"https://avatars.githubusercontent.com/u/294399?v=4","gravatar_id":"","url":"https://api.github.com/users/Rukomoynikov","html_url":"https://github.com/Rukomoynikov","followers_url":"https://api.github.com/users/Rukomoynikov/followers","following_url":"https://api.github.com/users/Rukomoynikov/following{/other_user}","gists_url":"https://api.github.com/users/Rukomoynikov/gists{/gist_id}","starred_url":"https://api.github.com/users/Rukomoynikov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Rukomoynikov/subscriptions","organizations_url":"https://api.github.com/users/Rukomoynikov/orgs","repos_url":"https://api.github.com/users/Rukomoynikov/repos","events_url":"https://api.github.com/users/Rukomoynikov/events{/privacy}","received_events_url":"https://api.github.com/users/Rukomoynikov/received_events","type":"User","site_admin":false},"html_url":"https://github.com/Rukomoynikov/tabled","description":"Library
        can be used to render your data to the console. Though it''s quite simple
        and has no dependencies but powerful.","fork":false,"url":"https://api.github.com/repos/Rukomoynikov/tabled","forks_url":"https://api.github.com/repos/Rukomoynikov/tabled/forks","keys_url":"https://api.github.com/repos/Rukomoynikov/tabled/keys{/key_id}","collaborators_url":"https://api.github.com/repos/Rukomoynikov/tabled/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/Rukomoynikov/tabled/teams","hooks_url":"https://api.github.com/repos/Rukomoynikov/tabled/hooks","issue_events_url":"https://api.github.com/repos/Rukomoynikov/tabled/issues/events{/number}","events_url":"https://api.github.com/repos/Rukomoynikov/tabled/events","assignees_url":"https://api.github.com/repos/Rukomoynikov/tabled/assignees{/user}","branches_url":"https://api.github.com/repos/Rukomoynikov/tabled/branches{/branch}","tags_url":"https://api.github.com/repos/Rukomoynikov/tabled/tags","blobs_url":"https://api.github.com/repos/Rukomoynikov/tabled/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/Rukomoynikov/tabled/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/Rukomoynikov/tabled/git/refs{/sha}","trees_url":"https://api.github.com/repos/Rukomoynikov/tabled/git/trees{/sha}","statuses_url":"https://api.github.com/repos/Rukomoynikov/tabled/statuses/{sha}","languages_url":"https://api.github.com/repos/Rukomoynikov/tabled/languages","stargazers_url":"https://api.github.com/repos/Rukomoynikov/tabled/stargazers","contributors_url":"https://api.github.com/repos/Rukomoynikov/tabled/contributors","subscribers_url":"https://api.github.com/repos/Rukomoynikov/tabled/subscribers","subscription_url":"https://api.github.com/repos/Rukomoynikov/tabled/subscription","commits_url":"https://api.github.com/repos/Rukomoynikov/tabled/commits{/sha}","git_commits_url":"https://api.github.com/repos/Rukomoynikov/tabled/git/commits{/sha}","comments_url":"https://api.github.com/repos/Rukomoynikov/tabled/comments{/number}","issue_comment_url":"https://api.github.com/repos/Rukomoynikov/tabled/issues/comments{/number}","contents_url":"https://api.github.com/repos/Rukomoynikov/tabled/contents/{+path}","compare_url":"https://api.github.com/repos/Rukomoynikov/tabled/compare/{base}...{head}","merges_url":"https://api.github.com/repos/Rukomoynikov/tabled/merges","archive_url":"https://api.github.com/repos/Rukomoynikov/tabled/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/Rukomoynikov/tabled/downloads","issues_url":"https://api.github.com/repos/Rukomoynikov/tabled/issues{/number}","pulls_url":"https://api.github.com/repos/Rukomoynikov/tabled/pulls{/number}","milestones_url":"https://api.github.com/repos/Rukomoynikov/tabled/milestones{/number}","notifications_url":"https://api.github.com/repos/Rukomoynikov/tabled/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/Rukomoynikov/tabled/labels{/name}","releases_url":"https://api.github.com/repos/Rukomoynikov/tabled/releases{/id}","deployments_url":"https://api.github.com/repos/Rukomoynikov/tabled/deployments","created_at":"2022-05-08T11:34:53Z","updated_at":"2023-10-02T23:33:03Z","pushed_at":"2023-10-19T13:31:55Z","git_url":"git://github.com/Rukomoynikov/tabled.git","ssh_url":"git@github.com:Rukomoynikov/tabled.git","clone_url":"https://github.com/Rukomoynikov/tabled.git","svn_url":"https://github.com/Rukomoynikov/tabled","homepage":"","size":49,"stargazers_count":7,"watchers_count":7,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":false,"forks_count":1,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":4,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":1,"open_issues":4,"watchers":7,"default_branch":"main","permissions":{"admin":true,"maintain":true,"push":true,"triage":true,"pull":true},"temp_clone_token":"","allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_auto_merge":false,"delete_branch_on_merge":false,"allow_update_branch":false,"use_squash_pr_title_as_default":false,"squash_merge_commit_message":"COMMIT_MESSAGES","squash_merge_commit_title":"COMMIT_OR_PR_TITLE","merge_commit_message":"PR_TITLE","merge_commit_title":"MERGE_MESSAGE","security_and_analysis":{"secret_scanning":{"status":"disabled"},"secret_scanning_push_protection":{"status":"disabled"},"dependabot_security_updates":{"status":"enabled"}},"network_count":1,"subscribers_count":2}'
  recorded_at: Fri, 20 Oct 2023 19:19:35 GMT
recorded_with: VCR 6.1.0
