---
http_interactions:
- request:
    method: get
    uri: https://apitest.authorize.net/rest/v1/notifications/1a652bd4-30d8-4124-af83-0722672d1c37
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <AUTHORIZE_AUTH_HEADER>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Opnet-Transaction-Trace:
      - b620d06f-a8fd-4ac3-97d2-3b2e21bf57ac-4576-342338
      X-Cnection:
      - close
    body:
      encoding: UTF-8
      string: "{\r\n  \"_links\": {\r\n    \"self\": {\r\n      \"href\": \"/rest/v1/notifications/1a652bd4-30d8-4124-af83-0722672d1c37\"\r\n
        \   }\r\n  },\r\n  \"notificationId\": \"1a652bd4-30d8-4124-af83-0722672d1c37\",\r\n
        \ \"deliveryStatus\": \"RetryPending\",\r\n  \"eventType\": \"net.authorize.payment.authcapture.created\",\r\n
        \ \"eventDate\": \"2022-07-27T09:51:34.167\",\r\n  \"webhookId\": \"f8ea19aa-1728-4601-bfe5-8f580456ce89\",\r\n
        \ \"retryLog\": {\r\n    \"logs\": [\r\n      {\r\n        \"statusCode\":
        500,\r\n        \"retryStage\": 1,\r\n        \"retryCountInStage\": 1,\r\n
        \       \"retryDate\": \"2022-07-27T09:55:07.307\",\r\n        \"message\":
        \"Error occured in connecting to the endpoint: https://ultrahook.com/webhooks/authorize_net/accept.
        \"\r\n      },\r\n      {\r\n        \"statusCode\": 500,\r\n        \"retryStage\":
        1,\r\n        \"retryCountInStage\": 2,\r\n        \"retryDate\": \"2022-07-27T09:57:20.477\",\r\n
        \       \"message\": \"Error occured in connecting to the endpoint: https://ultrahook.com/webhooks/authorize_net/accept.
        \[...]
