---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/Rukomoynikov/tabled
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token token1
      X-Api-Key: "<X-Api-Key>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '1732314061'
      X-Ratelimit-Used:
      - '1'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"message":"Bad credentials","documentation_url":"https://docs.github.com/rest","status":"401"}'
  recorded_at: Fri, 22 Nov 2024 21:21:01 GMT
recorded_with: VCR 6.1.0
